a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4aba8bf3 a { text-decoration: none; }
#menu_4aba8bf3_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4aba8bf3_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_4aba8bf3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4aba8bf3_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4aba8bf3_entry:hover span { color:#FFFFFF !important; }
		.menu_4aba8bf3_mainMenuEntry { text-align: center; }
		.menu_4aba8bf3_mainMenuEntry:hover {	background-color:#282828; }
		.menu_4aba8bf3_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_4aba8bf3 .mobileEntry { display: none; } 
		#menu_4aba8bf3 .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_4aba8bf3 .mobileEntry { display: block; } 
			#menu_4aba8bf3 .normalEntry { display: none; } 
		}
#button_7a3f4f72 { box-sizing: border-box; vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF; border: 1px solid #C4C4C4;  }
#button_7a3f4f72:hover { background-color:#DFDFDF; border-color:#C4C4C4;  }
#button_7a3f4f72:hover span { color:#000000; }
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_1ee7d79d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_c31bbfd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_c31bbfd_padding { margin: 10px; display: block;  }
#container_517c0d28 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_517c0d28_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:22pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold; text-shadow: 2px 2px 2px #B600E3;  }
#container_95f5da2 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_95f5da2_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_4aba8bf3 { vertical-align: bottom; position:relative; display: inline-block; width:300px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:30px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#button_3205b59a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_d65920a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_62709428 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_28787caa { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_61c472e7 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_7d7f79dd { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_657642d1 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#img_598df6e9 { vertical-align: bottom; position:relative; display: inline-block; width:44%; background:none; height:auto;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:158px; background-color:#FFFFFF; background-image: url(rc_images/scraper5.jpg); background-position:center left; background-size:cover;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle9 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_4a065c39 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_4a065c39_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_212cc296 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_212cc296_padding { margin: 10px; display: block;  }
#img_3eea1c9a { vertical-align: bottom; position:relative; display: inline-block; width:23%; background:none; height:auto;  }
#text_75164be8 { position:absolute; left:25%; top:7%; background:none;  }
.textstyle11 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
#container_322e3c6f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_322e3c6f_padding { margin: 10px; display: block;  }
#text_33ab7473 { position:absolute; left:25%; top:7%; background:none;  }
#img_5b5d7ea1 { vertical-align: bottom; position:relative; display: inline-block; width:23%; background:none; height:auto;  }
#img_5733c5d7 { vertical-align: bottom; position:relative; display: inline-block; width:23%; background:none; height:auto;  }
#text_6879060f { position:absolute; left:25%; top:58%; background:none;  }
.textstyle13 { font-size:26pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle14 { font-size:26pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
.textstyle15 { font-size:12pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_71fbe97c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_71fbe97c_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
.textstyle17 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#container_2145fd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_2145fd1_padding { margin: 10px; display: block;  }
#container_450824da { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_450824da_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle19 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4B277C; font-weight:bold;  }
#container_56e27b3b { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_56e27b3b_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 650px)
{
		#menu_4aba8bf3 { width:150px;  }
}
